:root {
  --primary-color: #8C4A23;
  --secondary-color: #F2C791;
  --background-color: #260705;
}

body {
  background-color: var(--background-color);
  padding: 30px;
  color: var(--secondary-color);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-decoration: none;
}

body a {
  color: var(--primary-color);
  text-decoration: none;
}

header {
  margin-bottom: 20px;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

header h1 {
  background-color: #8C4A23;
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
}

header h2 {
  padding: 10px;
  border-radius: 10px;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
}