html {
      box-sizing: border-box;
    }

    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }

    /* Starter */
    main>* {
      font-family: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro,
        sans-serif;
      font-weight: normal;
      background-color: #c0c0c0;
      border-radius: 10px;
      padding: 20px;
    }

    main {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      gap: 20px;
      max-width: 80vw;
      margin: 20px auto;
    }
  
header.primary {
grid-column: 1 / 5;
grid-row: 1 / 2;
}

aside {
grid-column: 1 / 2;
grid-row: 2 / 4;
}

aside.right {
grid-column: 4 / 5;
grid-row: 2 / 4;
}

aside.equal {
grid-column: 1 / 5;
grid-row: 3 / 4;
}

aside.stacked {
grid-column: 3 / 5;
grid-row: 3 / 4;
}

#content {
grid-column: 2 / 5;
grid-row: 2 / 3;
}

#content-right {
grid-column: 1 / 4;
grid-row: 2 / 3;
}

#content-equal {
grid-column: 1 / 3;
grid-row: 2 / 3;
}

#content-stacked {
grid-column: 1 / 3;
grid-row: 2 / 4;
}

#blog {
grid-column: 2 / 5;
grid-row: 3 / 4;
}

#blog-right {
grid-column: 1 / 4;
grid-row: 3 / 4;
}

#blog-equal {
grid-column: 3 / 5;
grid-row: 2 / 3;
}

#blog-stacked {
grid-column: 3 / 5; 
grid-row: 2 / 3;
}

footer.primary {
grid-column: 1 / 5;
grid-row: 4 / 5;
}